
.ola, .hi, .ciao, .hola, .bonjour, .hallo, .gruezi {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    opacity: 0;
    transition: opacity 0.15s ease;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    color: #ffffff;
    text-align: center;
}

/* Container do seletor de idioma */
.language-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Estilo para as tecnologias */
.technologies {
    margin-top: 30px;
}

.technologies h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; 
    padding-right: 750px;
}

.tech-icon {
    width: 120px;
    height: 120px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.tech-icon:hover {
    transform: scale(1.1); 
}

#language {
    background-color: #202020;
    border: 1px solid #ced4da; 
    border-radius: 50px;
    padding: 5px 5px;
    font-size: 20px; 
    color: #F4F5F0;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
}

/* Efeito quando o select é focado */
#language:focus {
    outline: none;
    border-color: #f0f2f4;
    box-shadow: 0 0 5px rgba(14, 31, 49, 0.5); 
}

/* Estilo das opções dentro do select */
#language option {
    background-color: #ffffff; 
    color: #495057; 
    padding: 10px; 
}

/* Efeito de hover nas opções */
#language option:hover {
    background-color: #f1f1f1; 
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

/* Bloco de texto */
.text-block {
    flex: 1;
    margin-right: 250px;
    margin-left: 50px;
    text-align: justify;
    padding-right: 20px;
}

/* Bloco de imagem */
.image-block {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px; 
}

/* Imagem circular */
.profile-image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white; 
}

#home {
    background-color: #e0e0e0;
    color: #0a0a0a;
    padding: 100px 20px;
    box-sizing: border-box;
}

#tech {
    background-color: #000000;
}

#tech {
    text-align: center;
    margin: 0px 0;
}

#tech h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.technologies {
    display: flex;
    justify-content: center;
    gap: 150px; /* Espaçamento entre os ícones */
}

.tech-item {
    position: relative;
    display: inline-block;
    text-align: center;
}

.tech-icon {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.tech-icon:hover {
    transform: scale(1.1); /* Efeito de zoom no ícone */
}

.tech-info {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 80px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.tech-item:hover .tech-info {
    display: block; /* Exibe as tecnologias relacionadas quando o mouse passa sobre o ícone */
}

.related-icon {
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

#php:hover .related-icon {
    opacity: 1;
}

#php .related-icon#laravel {
    transform: translate(-100px, -30px); /* Ajuste a posição */
}

#php .related-icon#bootstrap {
    transform: translate(100px, -30px); /* Ajuste a posição */
}

#html:hover .related-icon {
    opacity: 1;
}

#html .related-icon#css {
    transform: translate(-100px, -30px); /* Ajuste a posição */
}

#html .related-icon#js {
    transform: translate(100px, -30px); /* Ajuste a posição */
}

.download-cv-content {
    text-align: center;
    margin-top: 250px; /* Adicionando espaço acima do botão */
    margin-bottom: 40px; /* Adicionando espaço abaixo do botão */
}

.download-cv-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e0e0e0; /* Cor do título */
}

.btn-download {
    padding: 10px 20px;
    background-color: #202020;
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #666666;
    display: inline-block;
}

.btn-download:hover {
    background-color: #666666;
    border-color: #e0e0e0;
}


#procts, #my_projects {
    color: #fff; 
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; /* Espaçamento entre os blocos */
    width: 100%;
    margin-top: 40px;
}

.project-item {
    background-color: #fff; /* Cor de fundo dos blocos */
    padding: 10px;
    text-align: center;
    color: #fff;
    min-height: 300px;
    position: relative; 
    overflow: hidden; 
}

.slider {
    position: relative;
    height: 290px; 
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.slider img {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: contain; 
}

.slide {
    position: absolute;
    width: 100%; 
    height: 100%; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

.slide.active {
    opacity: 1;
}

.project-link {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: rgba(12, 12, 12, 0.8);
    color: #f6f4f4;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none; /* Remove sublinhado */
    opacity: 0; /* Oculta o link inicialmente */
    transition: opacity 0.3s ease; /* Transição suave */
}

.project-item:hover .project-link {
    opacity: 1; /* Mostra o link ao passar o mouse */
}

.construction-banner {
    position: absolute; 
    top: 0; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(51, 255, 0, 0.7); 
    color: white; 
    padding: 10px 20px; 
    font-size: 18px; 
    text-align: center; 
    border-radius: 5px; 
    z-index: 10;
}

.no-project-message {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
}

#about {
    background-color: #272727; 
    color: #fff; 
    padding: 100px 20px;
    box-sizing: border-box;
}

#contact {
    background-color: #000000; 
    color: #fff; 
    padding: 100px 20px;
    box-sizing: border-box;
}

#contact .contact-info {
    display: flex;
    justify-content: center;
    gap: 150px; /* espaçamento entre os itens */
    margin-top: 20px;
}

#contact .contact-item {
    text-align: center;
}

#contact {
    margin-bottom: 10px;
}

#contact a {
    color: #fff; /* cor do link */
    text-decoration: none;
}

#contact a:hover {
    text-decoration: none; /* sublinhado no hover */
}

/* tamanho icon email e linkedin */
#contact .contact-icon {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;
}

/* Efeito de zoom nas imagens ao passar o mouse */
#contact .contact-icon:hover {
    transform: scale(1.1); 
}

/* Estilo da tela de carregamento */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Garante que fique acima do conteúdo */
    transition: transform 0.5s ease-out;
}

/* Estilo do conteúdo principal */
.content {
    /* display: none; 
    text-align: center; 
    padding: 50px 20px;  */
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.loading-screen.hide {
    transform: translateY(-100%);
}
.section {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Estilo do menu */
.menu {
    position: fixed; 
    top: 0; 
    right: 0; 
    background-color: #202020; 
    width: 100%; 
    height: 60px; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box; 
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center; 
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul a {
    text-decoration: none;
    color: #F4F5F0;
    font-size: 20px;
    padding: 10px 15px;
    position: relative;
}

.menu ul a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.menu ul a:hover::after {
    background-color: #F4F5F0;
}

.menu ul a.active::after {
    background-color: #F4F5F0; 
}

.menu ul select {
    appearance: none;
    background-color: #1f2023;
    color: #F4F5F0;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    vertical-align: middle;
    border-bottom: 2px solid transparent;
}
.menu ul select:hover {
    border-bottom-color: #F4F5F0; 
}
.menu ul select:focus {
    outline: none; 
}

/* Responsividade */
@media (max-width: 768px) {

    .language-selector {
        flex-direction: column;
        margin: 10px 0;
    }

    /* Tecnologias */
    .tech-icons {
        justify-content: center;
        padding-right: 0;
    }

    .tech-icon {
        width: 80px;
        height: 80px;
    }

    /* Conteúdo principal */
    .home-content {
        flex-direction: column; /* Empilha o texto e a imagem */
        align-items: center;
        margin-top: 20px;
    }

    .text-block {
        margin: 0;
        text-align: center;
        padding: 0 20px;
    }

    .image-block {
        margin: 20px 0;
        flex: none;
    }

    .profile-image {
        width: 300px;
        height: 300px;
    }

    /* Projetos */
    .projects-grid {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .loading-screen {
        flex-direction: column; 
    }

    .ola, .hi, .ciao, .hola, .bonjour, .hallo, .gruezi {
        font-size: 30px; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        text-align: center; 
        white-space: nowrap; 
    }
    .menu {
        width: 100%; 
        text-align: center; 
        padding: 10px 0;
    }

    .menu ul {
        flex-direction: row; 
        justify-content: center; 
        padding: 0;
    }

    .menu ul li {
        margin-right: 15px; 
    }

    .menu ul li:last-child {
        margin-right: 0; 
    }

    .menu ul a {
        font-size: 18px; 
        padding: 10px 15px; 
    }

    .menu ul a:hover::after, 
    .menu ul a.active::after {
        background-color: #F4F5F0; 
    }
}

@media (max-width: 480px) {
    .menu ul {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .menu ul li {
        margin: 0;
    }
    
    .menu ul a {
        padding: 1px 5px; 
        font-size: 16px;
        text-decoration: none;
        color: #F4F5F0;
        display: block;
    }
    #language {
        font-size: 16px;
        padding: 3px 8px;
        width: 60px
    }
    #tech h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .technologies {
        flex-direction: column;
        gap: 30px;
    }

    .tech-icon {
        width: 80px;
        height: 80px;
    }

    .tech-info {
        top: 50%;
        left: 120%; 
        transform: translateY(-50%);
    }

    .tech-item:hover .tech-info {
        display: block;
    }

    #contact .contact-info {
        flex-direction: column; /* Coloca os itens um abaixo do outro */
        gap: 40px;
    }


    #contact .contact-item {
        text-align: center;
    }

    /* Ajuste ainda maior para os ícones */
    #contact .contact-icon {
        width: 80px;
        height: 80px;
    }

    /* Caso você queira mudar o espaçamento entre o texto e o ícone, ajuste aqui */
    #contact .contact-item p {
        font-size: 0.9rem; /* Diminui o tamanho da fonte para telas pequenas */
    }
}